h1 {
    color: #D4A373;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}

body, html {
    font-family: "Noto Sans", sans-serif;
    text-align: center;
    background-color: #FEFAE0;
    margin: 0;
    padding: 0;
    height: 100%;
}

ol {
    list-style-position: inside;
    display: table;
    margin: 0 auto;
    padding-left: 20px;
}

img {
    margin-bottom: 30px;
    border: 3px solid #CCD5AE;
    border-radius: 5px;
}

.quote {
    font-size: 1.2em;
    background-color: #FAEDCD;
    border-left: 10px solid #D4A373;
    padding: 10px;
    margin-top: 20px;
}

.cow-options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.cow-options img {
    width: 200px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
    cursor: pointer;
    padding: 5px; /* Optional padding for spacing */
}
.sidebar {
    border: 1px solid #CCD5AE;
    padding: 10px;
    max-width: 300px; /* Limit width for the sidebar */
}
.sidebar-content {
    text-align: center; /* Center content */
}
.sidebar img {
    max-width: 100%; /* Ensure image does not exceed sidebar width */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Optional margin for spacing */
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between; /* Aligns content with space between them */
    align-items: center;
}

.content {
    flex: 1; /* Takes up remaining space */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}