<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <title>Cow Creation</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    </head>
    <body>
        <h1>This is where you'll create your first cow.</h1>
        <ol id="steps">
            <li>Choose your cow's appearance</li>
            <li>Name your cow</li>
            <li>Place you cow</li>
        </ol>
        <br>
        <h3>Here are your options</h3>
        <img src="{{ url_for('static', filename='images/blackwhite.png') }}">

        <script>
            document.addEventListener("DOMContentLoaded", function(){
              
              var the_steps = document.getElementById("steps")
              the_steps.style.color= "red";
            })
            
          </script>
    </body>
</html>