<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="style.css" type="text/css">
    </head>
    <body>
        <h1>Cows4U</h1>
        <h2>Where all your cow needs can be met.</h2>
        <p>This is a site where you can raise a herd of cattle.</p>
        <a id="Creation" href="createcow.html">eekjdjkwdjkcwjkld</a>
        <p class="quote">Be warned that new cows may not always be in optimal shape!</p>
    </body>
</html>